{% extends "base.html.twig" %}
{% block body %}

  <div class="starter-template">
    <h1 class="display-2">Petshop - Af Shop</h1>
    <p class="lead">Petshop - avançando com Symfony 4 - avançando com doctrine.</p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
      {% for qts in qts_animais %}
        <tr>
        <th>{{ qts.nome }}</th>
        <th>{{ qts.qtde }}</th>
        </tr>
      {% endfor %}
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-striped">
      {% for qts in qtde_por_raca %}
        <tr>
        <th>{{ qts.nome }}</th>
        <th>{{ qts.qtde }}</th>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}  
